{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.typedclojure/typed.clj.runtime {:mvn/version "1.2.0"}}
 :paths ["src"]
 :aliases
 {:repl/conjure
    {:extra-deps {nrepl/nrepl       {:mvn/version "1.0.0"}
                  cider/cider-nrepl {:mvn/version "0.42.1"}
                  org.typedclojure/typed.clj.checker {:mvn/version "1.2.0"}}
     :main-opts  ["--main" "nrepl.cmdline"
                  "--middleware" "[cider.nrepl/cider-middleware]"
                  "--interactive"]}
  :dev
    {:extra-deps {org.typedclojure/typed.clj.checker {:mvn/version "1.2.0"}}}}}
